alabaster==0.7.12
anyio==3.6.2
appdirs 
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.2.1
attrs==21.4.0
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
brotlipy 
certifi==2022.12.7
cffi 
charset-normalizer 
click==8.1.3
colorama 
comm==0.1.2
contourpy==1.0.6
convertdate==2.4.0
cryptography 
cycler==0.11.0
deap 
debugpy==1.6.4
decorator==5.1.1
defusedxml==0.7.1
docutils==0.17.1
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.2.0
fastjsonschema==2.16.2
fonttools==4.38.0
fsspec==2022.11.0
future 
ghp-import==2.1.0
gitdb==4.0.10
GitPython==3.1.29
greenlet==2.0.1
hijri-converter==2.2.4
holidays==0.18
idna 
imagesize==1.4.1
importlib-metadata==5.2.0
ipykernel==6.19.4
ipython==8.7.0
ipython-genutils==0.2.0
ipywidgets==7.7.2
jedi==0.18.2
Jinja2==3.1.2
joblib 
jsonschema==3.2.0
jupyter-book==0.13.1
jupyter-cache==0.4.3
jupyter-events==0.4.0
jupyter-server-mathjax==0.2.6
jupyter-sphinx==0.3.2
jupyter_client==7.4.8
jupyter_core==5.1.0
jupyter_server==2.0.4
jupyter_server_terminals==0.4.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
kiwisolver==1.4.4
korean-lunar-calendar==0.3.1
latexcodec==2.0.1
linkify-it-py==1.0.3
litereval==0.0.11
lxml==4.9.2
markdown-it-py==1.1.0
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mdit-py-plugins==0.2.8
mistune==0.8.4
mkl-service==2.4.0
myst-nb==0.13.2
myst-parser==0.15.2
nbclassic==0.4.8
nbclient==0.5.13
nbconvert==6.5.4
nbdime==3.1.1
nbformat==5.7.1
nest-asyncio==1.5.6
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.23.5
openpyxl==3.0.10
packaging 
pandas 
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.3
pickleshare==0.7.5
Pillow==9.3.0
platformdirs==2.6.0
plotly==5.11.0
pooch 
prometheus-client==0.15.0
prompt-toolkit==3.0.36
psutil==5.9.4
psycopg2==2.9.5
pure-eval==0.2.2
pybtex==0.24.0
pybtex-docutils==1.0.2
pycparser==2.21
pydata-sphinx-theme==0.8.1
pyee==8.2.2
Pygments==2.13.0
PyMeeus==0.5.12
pyOpenSSL 
pyparsing==3.0.9
pyppdf==0.1.2
pyppeteer==1.0.2
pyrsistent==0.19.2
PySocks 
python-dateutil 
python-dotenv==0.21.0
python-json-logger==2.0.4
pytz 
pywin32==305
pywinpty==2.0.9
PyYAML 
pyzmq==24.0.1
requests 
scikit-learn 
scipy==1.10.0
seaborn==0.12.1
Send2Trash==1.8.0
six 
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==4.5.0
sphinx-book-theme==0.3.3
sphinx-comments==0.0.3
sphinx-copybutton==0.5.1
sphinx-external-toc==0.2.4
sphinx-jupyterbook-latex==0.4.7
sphinx-multitoc-numbering==0.1.3
sphinx-thebe==0.1.2
sphinx-togglebutton==0.3.2
sphinx_design==0.1.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-bibtex==2.5.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.45
stack-data==0.6.2
statsmodels==0.13.5
stopit==1.1.2
tenacity==8.1.0
terminado==0.17.1
threadpoolctl 
tinycss2==1.2.1
torch==1.12.1
tornado==6.2
TPOT 
tqdm 
traitlets==5.8.0
typing_extensions 
uc-micro-py==1.0.1
update-checker 
urllib3 
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.2
websockets==10.4
widgetsnbextension==3.6.1
win-inet-pton 
zipp==3.11.0
