/* Estilo para párrafos justificados */
p {
    text-align: justify;
}

/* Estilo para títulos en negrita */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* Estilo para sombreado amarillo */
.highlight {
    background-color: yellow;
}

/* Estilo para letra de color azul */
.blue-text {
    color: blue;
}


/* Estilo para centrar las gráficas */
.plotly-graph-div {
    margin: 0 auto;
}

/* Estilo para centrar las tablas */
table {
    margin-left: auto;
    margin-right: auto;
}
